<%- include('../partials/head.ejs') %>

<article class="check">
  <section>
    <h1>Met hoeveel personen heb je gegeten bij de Ceuvel?</h1>

    <form method="post">
      <input type="number" name="persons" value="1" required />
      <input type="submit" value="Bekijk resultaat!" />
    </form>

    <a href="/">Ga terug</a>

  </section>
</article>

<%- include('../partials/foot.ejs') %>
