<%- include('./partials/head_gsap.ejs') %>

<!-- <div id="box">
  <div class="boxSmall"></div>
  <div class="boxSmall boxTiny"></div>
</div> -->

<svg id="bucket_veg" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 250 275">
  <defs>
    <style>
      .cls-1{fill:#805f4f;}.cls-2{fill:#fff6c9;}.cls-3{fill:#f1573a;}.cls-4{fill:#96cb5c;}.cls-5{fill:#83af4d;}.cls-6{fill:#f05040;}.cls-7{fill:#ffde5f;}.cls-8{fill:#fdf054;}.cls-9{fill:#ffd900;}.cls-10,.cls-12{fill:#ffcc06;}.cls-11{fill:#fdf6b2;}.cls-12{opacity:0.3;}.cls-13{fill:#ffdd5d;}.cls-14{fill:#894c20;}.cls-15{fill:#6b3b17;}.cls-16{fill:#a36635;}.cls-17,.cls-23{fill:none;stroke-miterlimit:10;}.cls-17{stroke:#fcdd87;}.cls-18{fill:#f99f1b;}.cls-19{fill:#619b42;}.cls-20{fill:#fcbc6e;}.cls-21{fill:#d4b45c;}.cls-22{fill:#e8cd99;}.cls-23{stroke:#b0934b;}.cls-24{fill:#a1bba7;}.cls-25{fill:#b1b1b1;}.cls-26{fill:#1a1a1a;}.cls-27{fill:#eee;}
    </style>
  </defs>
  <g id="whole_bucket" data-name="whole_bucket">
    <g id="APPLE" class="waste">
      <path d="M28 22.65s-1.39-6.5-11.86-4.43l-.86-2s11.2-4.1 15.21 5.15z" class="cls-1"/>
      <path d="M25.34 32.71s3.57-11 14.68-6.36c0 0 2.29-8.27 9.15-8.17l.87-.62s-8.23 23 10.28 34c0 0-.63 6.43-7.72 3.82 0 0-2.74 10.09-14.28 6.18 0 0-1.76 5.12-7.86 3.5 0 0 1.51-26-16.79-30.9-.01.01 2.17-6.34 11.67-1.45z" class="cls-2"/>
      <path d="M25.34 32.71s4-11.22 14.68-6.36c0 0 1.61-7.22 9.15-8.17l1.73-1.25a20.69 20.69 0 0 0-8-1.87c-5-.28-12.42 6.32-12.42 6.32L28 22.65s-11.56-.44-16.3 10.49l2 1s1.92-5.94 11.64-1.43z" class="cls-3"/>
      <path d="M30.48 21.39S41 27.26 45 5.83c0 0-18.11-1.14-15.79 14.28-.04.01-.88-.63 1.27 1.28z" class="cls-4"/>
      <path d="M29.19 20.16s-.45-.34.16.23L45 5.88S26.87 4.73 29.19 20.16z" class="cls-5"/>
      <path d="M52.59 55.39s6.55 2.66 7.72-3.82L62 52.75s-2.73 12-14 11.16c0 0-4.94 8.87-18.24 2.88l.68-1.71s5.47 2.56 7.86-3.5c.01-.01 10.7 4 14.29-6.19z" class="cls-6"/>
    </g>
    <g id="BANANA" class="waste">
      <path d="M53.92 27.77v-1.51l3.86 4.49-2.13 3.65s-1.18-6.21-1.73-6.63z" class="cls-7"/>
      <path d="M48 26.2s.06-1.7-2.19-3.16c0 0 13.24-5.95 18.34 5 .01.01-5.15-5.85-16.15-1.84zm19.8 3.58l1.2-1.73s1-9.44 7.59-10.6c0 0-1.94-3-7.89 1.64-.05 0-.54 8.02-.9 10.69z" class="cls-8"/>
      <path d="M53.22 21.43s-1.58-3.55-9.71-5.86c0 0-3-1.58 2.06-1.58 0 0 8.09.49 10.39 4.86l-.19 2.79a3.76 3.76 0 0 0-2.55-.21zM69 28.05s8.14-9.63 13.3-3.31a.44.44 0 0 1 0 .58c-.3.33-4.79-4.89-13.3 2.73z" class="cls-8"/>
      <path d="M42.63 62.6s-1 .73 1.24-3.64 7-11.2 7-11.2 4.6-14.83 3-20c0 0 3.07 5.6 1.07 11.15S50.78 53.77 42.63 62.6z" class="cls-7"/>
      <path d="M54.32 60l3.7-.61L67.8 37l-2.49-.3s2-10.14-2.09-9.53S54.32 60 54.32 60z" class="cls-9"/>
      <path d="M48 26.2s18.95-7 17.06 9.47c0 0-2.91 21.92-14.57 29.45 0 0-3 2-7.86-2.12 0 0 10.8-13.33 12.35-26.91 0 0 3.28-11.05-6.62-9.35.01 0-.27.03-.36-.54z" class="cls-9"/>
      <path d="M65.31 36.7S69 17.92 82.25 25.32c0 0 .24.88-2.49 0s-7.38.15-10.38 11.38-4.44 21.92-18.89 28.42c0 0 11.95-7.6 14.82-28.42z" class="cls-10"/>
      <path d="M55.77 21.64l1-15.3s.73-4.8 5.4-3.76c0 0 3.16-.85 5 6.13s.55 21.07.55 21.07l-2.41 6.92s2.18-12.32-9.54-15.06z" class="cls-11"/>
      <path d="M69.69 24.74s1.17-6 6.85-7.29c0 0 1.75 1.43-.89 2.11s-3.82 1.44-5.96 5.18z" class="cls-12"/>
      <path d="M49.66 18.13s2.89 2 3.56 3.3l-1.34.08a9.63 9.63 0 0 0-2.22-3.38z" class="cls-13"/>
      <path d="M46.8 23.16a7.35 7.35 0 0 1 1.46 2.06A5.56 5.56 0 0 1 46 26.9a4.84 4.84 0 0 1-2.6.53l-.65-.72S45.1 24 46.8 23.16z" class="cls-14"/>
      <path d="M46.8 23.16s-2.06-2.29-4.65 2.72l.62.84s4.31-3.5 4.03-3.56z" class="cls-15"/>
      <path d="M48.26 25.15s.53 1.48.31 1.73-3.39 1.62-4.09 1.39a2.09 2.09 0 0 1-1.06-.9s4.51-1.15 4.84-2.22z" class="cls-16"/>
    </g>
    <g id="CARROT" class="waste">
      <path d="M112.95 23.84l4.37 5.15" class="cls-17"/>
      <path d="M131.27 19A13.81 13.81 0 0 1 137 32.49S132.32 41 112.58 52 85.51 66.2 85.51 66.2l-10.3 4.37s-7.34 3.32-2.45-3.84 34.58-46.28 52-50.3a10.64 10.64 0 0 1 6.51 2.57z" class="cls-18"/>
      <path d="M131.16 19l12.05-19 1.4 1.92-6.72 10 10.38-10.17 2.1 3L139 17.82l18.53-14.33 1.75 2.1-14.06 10.83 9-2.62 2.78 3.49-21.08 7.48s-4.24-1.72-4.76-5.77z" class="cls-19"/>
      <path d="M128.01 28.99l4.37 5.16m-13.36-5.16l4.36 5.16m-28.37 8.54l4.36 5.15m24.89-30.93l4.36 5.15m-22.29 9.51l4.37 5.15m6.13-.67l4.37 5.16m-17.05 1.48l4.37 5.15m-11.33 5.13l4.37 5.15M84.7 54.07l4.36 5.15m-8.04 1.99l4.37 5.15m-10.61-.42l2.18 2.58" class="cls-17"/>
      <path d="M89.06 49.6s19.57-25.48 32.66-30.91c0 0-4.72 7.86-32.66 30.91z" class="cls-20"/>
    </g>
    <g id="POTATO2" class="waste">
      <path d="M47.41 59.68s21.74-15.24 30.86 3.12c0 0 1.37 4.5.75 7.25s-.25 4-4.12 6.75c0 0-.37.75-5.87.75s-17.37-1.12-17.37-1.12-14.24-2.25-4.25-16.75z" class="cls-21"/>
      <path d="M64.41 57.18s7.5 4 8.25 5.12 4.75.12 3.25-1.75-3.23-5.27-9.5-5.87c0 .01-2.88.5-2 2.5z" class="cls-22"/>
      <path d="M57 64.24s1.44.56 0 1.69m-9.12-6.03s1.44.56 0 1.69m2.52 10.9s1.44.56 0 1.69m10.8-19.49s1.44.56 0 1.69m6.35 9.01s1.44.56 0 1.69M63 75s1.44.56 0 1.69m12.28-5.89s1.44.56 0 1.69" class="cls-23"/>
    </g>
    <g id="POTATO1" class="waste">
      <path d="M68.4 29.34s28.8-20.19 40.88 4.14c0 0 1.82 6 1 9.6s-.33 5.3-5.46 8.94c0 0-.5 1-7.78 1s-23-1.49-23-1.49-18.88-2.99-5.64-22.19z" class="cls-21"/>
      <path d="M90.91 26s9.93 5.3 10.92 6.79 6.29.17 4.3-2.32-4.28-7-12.58-7.78c.01.03-3.8.69-2.64 3.31z" class="cls-22"/>
      <path d="M81.15 35.38s1.9.74 0 2.23M69 29.62s1.9.74 0 2.23m3.36 14.45s1.9.74 0 2.23m14.31-25.81s1.9.74 0 2.23m8.41 11.95s1.9.74 0 2.23M89.06 49.6s1.9.74 0 2.23m16.25-7.76s1.9.74 0 2.23" class="cls-23"/>
    </g>
    <g id="BUCKET">
      <path d="M9.79 44.25h129.66l-15.66 127.33s-1 5.33-8.33 5.67-82.33 0-82.33 0-7.33.67-8.33-14.33S9.79 44.25 9.79 44.25z" class="cls-24"/>
      <path d="M142.79 29.58s8.67-1.33 7 4.67a7.72 7.72 0 0 1-1.67 6h-5.33s1.66-7 0-10.67zm-135.58 0s-8.67-1.33-7 4.67a7.72 7.72 0 0 0 1.67 6h5.33s-1.66-7 0-10.67z" class="cls-25"/>
      <path d="M12.12 25.91h124.67s7.54-.43 6.72 8.94-4.05 9.4-4.05 9.4H9.79s-9.34-14 2.33-18.34zm40 70s26.67 8.33 44 0c0 0 3.67-4.33 7.33 6.67 0 0 4.67 5.15-10.67 8.24s-26.94 3.09-44.47-2.24c.01 0-5.52-8.33 3.81-12.67z" class="cls-26"/>
      <path d="M101.45 98.25l2 4.33s38.67-11.67 44.67-62.33h-5.33s2.33 37.33-41.34 58zm-53.13 0l-2 4.33S7.65 90.91 1.65 40.25H7s-2.35 37.33 41.32 58z" class="cls-27"/>
    </g>
  </g>
</svg>


<button id="empty">Leeg de emmer</button>

<p id="introtext" class="bigtext"></p>

<%- include('./partials/foot.ejs') %>
