@font-face {
  font-family: 'Nexa';
  src: url("../fonts/nexa/Nexa-Rust-Sans-Black.woff2") format("woff2"), url("../fonts/nexa/Nexa-Rust-Sans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  /*overflow: hidden;*/
  font-family: 'Nexa', sans-serif;
}

body.scrolling {
  transition: transform 900ms ease;
}

.inline {
  display: inline;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2.5em;
}

article {
  height: 100vh;
}

article.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.intro {
  padding-top: 20vh;
  background-color: #A0BBA7;
  color: white;
}

article.interactive {
  padding-top: 2.5em;
  background-color: #A0BBA7;
  color: white;
}

h2.center_heading {
  text-align: center;
  margin-bottom: 2em;
}

section {
  min-width: 45%;
  text-align: center;
}

section.text {
  width: 45%;
}

section.animated {
  min-width: 50%;
}

svg {
  max-width: 65%;
}

svg.pomp {
  margin-top: 25vh;
}

svg.interactive {
  display: block;
  max-width: 75vw;
  margin: 0 auto;
}

svg.recycle {
  margin-top: 20vh;
}

.infoText {
  padding: .5em;
  margin: 22.5vh auto 7.5vh;
  text-align: center;
  max-width: 10em;
}

.introText {
  margin: 0 auto;
  width: 12.5em;
}

span.buttons {
  opacity: 0;
}

a.navigate {
  margin: 2em auto;
  max-width: 10em;
  transition: .7s;
  padding: .85em;
  border-radius: .5em;
  background-color: #141B23;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
}

a.navigate:hover {
  transition: .7s;
  cursor: pointer;
  transform: scale(1.1);
  background-color: #344355;
}

a.intro {
  display: block;
  max-width: 25em;
}

a.intro:first-of-type {
  margin-top: 4em;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.02) translateY(-2px);
  transition: 1s;
}

#intro {
  background-color: #A0BBA7;
}

#page_1 {
  background-color: #595959;
  color: white;
}

#page_2 {
  background-color: #eeeeee;
  color: #000000;
}

#page_3 {
  background-color: #cfded1;
}

#page_4 {
  background-color: #efd154;
}

#page_5 {
  background-color: #29677a;
  color: white;
}

#page_6 {
  background-color: #eeeeee;
}

#page_7 {
  background-color: #7b828c;
}

.visible {
  opacity: 1!important;
}
