html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body.scrolling {
  transition: transform 900ms ease;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

article.flex {
  height: 110vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.intro {
  padding-top: 25vh;
  height: 100vh;
  background-color: #A0BBA7;
  color: white;
}

section {
  min-width: 45%;
  text-align: center;
}

svg {
  max-width: 30vw;
}

svg.pomp {
  margin-top: 25vh;
}

.infoText {
  margin: 25vh auto;
  text-align: center;
  max-width: 10em;
  font-size: 3.5em;
  font-weight: 700;
}

.intro .infoText {
  margin: 0 auto;
}

a.intro {
  display: block;
  max-width: 10em;
  margin: 10vh auto 0 auto;
}

a.next {
  padding: .5em;
  border-radius: .5em;
  background-color: #141B23;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

#intro {
  background-color: #A0BBA7;
}

#page_1 {
  background-color: #595959;
  color: white;
}

#page_2 {
  background-color: #eeeeee;
  color: #000000;
}

#page_3 {
  background-color: #EFD154;
}
