@font-face {
  font-family: 'Nexa';
  src: url("../fonts/nexa/Nexa-Rust-Sans-Black.woff2") format("woff2"), url("../fonts/nexa/Nexa-Rust-Sans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /*overflow: hidden;*/
  font-family: 'Nexa', sans-serif;
}

body.scrolling {
  transition: transform 900ms ease;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 3em;
}

article {
  height: 100vh;
}

article.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.intro {
  padding-top: 25vh;
  background-color: #A0BBA7;
  color: white;
}

article.interactive {
  padding-top: 2.5em;
  background-color: #A0BBA7;
  color: white;
}

h2.center_heading {
  text-align: center;
  margin-bottom: 2em;
}

section {
  min-width: 45%;
  text-align: center;
}

svg {
  max-width: 30vw;
}

svg.pomp {
  margin-top: 25vh;
}

svg.interactive {
  display: block;
  max-width: 75vw;
  margin: 0 auto;
}

svg.recycle {
  margin-top: 25vh;
}

.infoText {
  margin: 25vh auto 15vh;
  text-align: center;
  max-width: 10em;
}

.intro .infoText {
  margin: 0 auto;
}

a.next {
  opacity: 0;
  margin: 10vh auto 0 auto;
  display: block;
  max-width: 10em;
  transition: .7s;
  padding: .5em;
  border-radius: .5em;
  background-color: #141B23;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

a.intro {
  opacity: 1;
}

a.js {
  max-width: 12em;
}

a.next:hover {
  transition: .7s;
  cursor: pointer;
  transform: scale(1.1);
  background-color: #344355;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.02) translateY(-2px);
  transition: 1s;
}

#intro {
  background-color: #A0BBA7;
}

#page_1 {
  background-color: #595959;
  color: white;
}

#page_2 {
  background-color: #eeeeee;
  color: #000000;
}

#page_3 {
  background-color: #cfded1;
}

#page_4 {
  background-color: #efd154;
}

#page_5 {
  background-color: #29677a;
  color: white;
}

#page_6 {
  background-color: #eeeeee;
}

#page_7 {
  background-color: #7b828c;
}

.visible {
  opacity: 1!important;
}
