<article class="intro js-error" id="intro">
  <section>
    <h2 class="infoText">JavaScript lijkt niet aan te staan</h2>
    <p>Om het dashboard te kunnen zien is het belangrijk dat JavaScript aan staat</p>
    <p>Lukt het niet om JavaScript aan te zetten? Klik dan op de onderstaande button.</p>
    <a class="intro next js" href="#" onclick="animation.init('page_1');">Verder zonder JavaScript!</a>
  </section>
</article>
