<article class="flex" id="page_7">
  <section>
    <h2 class="infoText">En .. Je kunt er zo'n <span class="carkm"></span> kilometer voor rijden</h2>
    <a class="next visible" href="#" onclick="animation.init('interactive');">Ga verder</a>
  </section>
  <section>

  </section>
</article>
