<article class="flex" id="page_7">
  <section class="text">
    <h2 class="infoText">En .. Je kunt er zo'n <span class="carkm"></span> kilometer voor rijden</h2>
    <span class="buttons visible">
      <a class="navigate inline" data-link-to="page_6">< Terug</a>
      <a class="navigate inline" data-link-to="intro">Opties</a>
      <a class="navigate inline" data-link-to="interactive">Verder ></a>
    </span>
  </section>
  <section class="animated">

  </section>
</article>
