<article class="flex" id="page_7">
  <section class="text">
    <h2 class="infoText">En .. Je kunt er zo'n <span class="amount"><%= carkm %></span> kilometer voor rijden</h2>
    <span class="buttons visible">
      <a class="navigate inline" href="#page_6" data-link-to="page_6">< Terug</a>
      <a class="navigate inline options" href="#intro" data-link-to="intro">Menu</a>
      <a class="navigate inline" href="#interactive" data-link-to="interactive">Verder ></a>
    </span>
  </section>
  <section class="animated">
    <svg class="speedoMeter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 837.67 469.97">
      <defs>
        <style>
          .cls-1{fill:#29677a;}.cls-2{fill:#eee;}
        </style>
      </defs>
        <g id="Dash">
          <path d="M21.66 409.33C24.08 306.81 65.14 210.79 137.91 138a397.29 397.29 0 0 1 561.85 0C772.53 210.79 813.59 306.81 816 409.33h21.66C835.24 301 791.94 199.57 715.08 122.71 635.95 43.58 530.74 0 418.83 0S201.72 43.58 122.59 122.71C45.73 199.57 2.42 301 0 409.33z" class="cls-1"/>
          <path d="M415.79 44.9h6.1v66.75h-6.1zm272.1588 220.0046l58.0812-33.38 3.045 5.2983-58.0812 33.38zM570.82958535 151.53610222L604.2499403 93.743564l5.2719676 3.04868126-33.42035494 57.79253823zM92.4788 235.09l3.045-5.2983 58.0812 33.38-3.045 5.2983zM228.14258945 96.78010666l5.2740947-3.045 33.38 57.81585596-5.2740947 3.045zm148.3590127-49.49991898l6.05663834-.63657834 2.6727928 25.42992487-6.05663836.63657837zm-38.8362719 6.48340682l5.9671427-1.26617848L348.940044 77.5105044l-5.9671427 1.26617844zM299.7352832 64.24382364l5.79259074-1.8798916 7.8930753 24.3212718-5.79259074 1.8798916zm-36.6422789 14.3905968l5.57392562-2.47817536 10.3880236 23.3647997-5.57392562 2.47817537zm189.29970762-6.5838226l2.69498358-25.42758274 6.05608052.6418635-2.69498358 25.42758274zm36.33631248 5.44150358l5.2944735-25.01586398 5.96780485 1.2630539-5.2944735 25.01586398zm35.51930376 9.18179738l7.8930753-24.3212718 5.79259075 1.87989162-7.8930753 24.3212718zm34.3313207 12.83207786l10.3880236-23.3647997 5.57392563 2.47817535-10.38802364 23.36479975zM767.74 387.36l-.65-6.06 25.43-2.67.65 6.06-25.43 2.67zm-6.6769196-42.32164213l25.01678764-5.29010732 1.25994343 5.95824157-25.01678765 5.29010732zm-9.8133645-35.31076434l24.3212718-7.8930753 1.87989162 5.79259074-24.3212718 7.8930753zm-13.4477175-34.0562744l23.37023566-10.3757884 2.47525652 5.57522244-23.37023567 10.3757884zM198.2791459 116.3354378l4.96981142-3.5370856 14.8209685 20.82432455-4.96981142 3.5370856zm-30.6328419 24.72682474l4.5735647-4.03639765 16.91978487 19.1714835-4.5735647 4.03639764zm-27.87179513 27.78180988l4.1198269-4.48498902 18.8236977 17.2910961-4.11982688 4.484989zm-24.82960277 30.53281086l3.6301561-4.88979208 20.53070337 15.241887-3.63015612 4.88979208zm587.6819741 15.87391134l20.82470564-14.83767282 3.53388453 4.95981453-20.82470564 14.83767284zm-23.07907887-28.58568905l19.16557622-16.92647596 4.03799387 4.57215545-19.1655762 16.92647596zm-25.91579145-25.97663378l17.28123766-18.83274875 4.48714553 4.11747798-17.28123766 18.83274876zm-28.44858608-23.05669753l15.23592615-20.52267415 4.88979208 3.6301561-15.23592616 20.52267416zM69.93 387.36l-25.43-2.67.65-6.06 25.42 2.67-.64 6.06zm-19.5812704-41.59640007l1.2651425-5.95713978 25.01216163 5.31193657-1.2651425 5.95713978zm9.87419903-38.12536525l1.87989162-5.79259074 24.3212718 7.8930753-1.8798916 5.79259074zm13.80713792-36.82391852l2.47817536-5.57392563 23.36479974 10.3880236-2.47817536 5.57392563z" class="cls-2"/>
        </g>
        <g id="speed_pointer">
          <path d="M397.91 412.38a25.44 25.44 0 1 0 16.34-32.06 25.44 25.44 0 0 0-16.34 32.06zm35.72-11.6a12.11 12.11 0 1 1-15.26-7.78 12.11 12.11 0 0 1 15.26 7.77z" class="cls-2"/>
          <path d="M401.08 390.24L127.59 364.5l270.3 47.81a25.37 25.37 0 0 1 3.19-22.07zm41.1 29.91l52.34 9.26-5.43-16.71 11-13.13-54.66-5.14c.31.73.6 1.47.85 2.24a25.41 25.41 0 0 1-4.1 23.48z" class="cls-2"/>
        </g>
    </svg>
  </section>
</article>
