<article class="flex" id="page_5">
  <section class="text">
    <h2 class="infoText">In totaal hebben wij hierdoor al <span class="co2"><%= co2 %></span> kilogram CO2 bespaard</h2>
    <span class="buttons visible">
      <a class="navigate inline" href="#page_4" data-link-to="page_4">< Terug</a>
      <a class="navigate inline options" href="#intro" data-link-to="intro">Menu</a>
      <a class="navigate inline" href="#page_6" data-link-to="page_6">Verder ></a>
    </span>
  </section>
  <section class="animated">

  </section>
</article>
