<article class="flex" id="page_5">
  <section class="text">
    <h2 class="infoText">In totaal hebben wij hierdoor al <span class="amount"><%= co2 %></span> <span class="highlight">kilogram</span> CO2 bespaard</h2>
    <span class="buttons">
      <a class="navigate inline" href="#page_4" data-link-to="page_4">< Terug</a>
      <a class="navigate inline options" href="#intro" data-link-to="intro">Menu</a>
      <a class="navigate inline" href="#page_6" data-link-to="page_6">Verder ></a>
    </span>
  </section>
  <section class="animated">
  <svg class="co2_cloud" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391 296.85">
    <defs>
      <style>
        .co2gas-1{fill:#515151;}.co2gas-2{font-size:39.55px;fill:#fff;font-family:Avenir-Heavy, Avenir;}
      </style>
    </defs>
      <g id="co2" class="co2_clouds">
        <circle cx="254.96" cy="255.2" r="37.96" class="co2gas-1"/>
        <circle cx="353.04" cy="255.73" r="37.96" class="co2gas-1"/>
        <circle cx="309.8" cy="249.93" r="46.93" class="co2gas-1"/>
        <text class="co2gas-2" transform="translate(262.54 267.37)">
          CO2
        </text>
      </g>
      <g id="co2-2" class="co2_clouds" data-name="co2">
        <circle cx="37.96" cy="205.2" r="37.96" class="co2gas-1"/>
        <circle cx="136.04" cy="205.73" r="37.96" class="co2gas-1"/>
        <circle cx="92.8" cy="199.93" r="46.93" class="co2gas-1"/>
        <text class="co2gas-2" transform="translate(45.54 217.37)">
          CO2
        </text>
      </g>
      <g id="co2-3" class="co2_clouds" data-name="co2">
        <circle cx="113.96" cy="52.2" r="37.96" class="co2gas-1"/>
        <circle cx="212.04" cy="52.73" r="37.96" class="co2gas-1"/>
        <circle cx="168.8" cy="46.93" r="46.93" class="co2gas-1"/>
        <text class="co2gas-2" transform="translate(121.54 64.37)">
          CO2
        </text>
      </g>
  </svg>
  </section>
</article>
