<article class="flex" id="page_4">
  <section class="animated">
  <svg class="food_used" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.19 158.37">
    <defs>
      <style>
        .food-1{fill:#805f4f;}.food-2{fill:#fff6c9;}.food-3{fill:#f1573a;}.food-4{fill:#96cb5c;}.food-5{fill:#83af4d;}.food-6{fill:#f05040;}.food-7{fill:#ffde5f;}.food-8{fill:#fdf054;}.food-9{fill:#ffd900;}.food-10,.food-12{fill:#ffcc06;}.food-11{fill:#fdf6b2;}.food-12{opacity:0.3;isolation:isolate;}.food-13{fill:#ffdd5d;}.food-14{fill:#894c20;}.food-15{fill:#6b3b17;}.food-16{fill:#a36635;}.food-17,.food-23{fill:none;stroke-miterlimit:10;}.food-17{stroke:#fcdd87;}.food-18{fill:#f99f1b;}.food-19{fill:#619b42;}.food-20{fill:#fcbc6e;}.food-21{fill:#d4b45c;}.food-22{fill:#e8cd99;}.food-23{stroke:#b0934b;}
      </style>
    </defs>
      <g id="APPLE" class="food">
        <path d="M55 76.86s-1.14-5.31-9.69-3.62l-.7-1.63s9.1-3.35 12.39 4.21z" class="food-1"/>
        <path d="M52.78 85.09s2.92-9 12-5.2c0 0 1.87-6.76 7.48-6.68l.74-.51s-6.73 18.8 8.4 27.79c0 0-.51 5.26-6.31 3.12 0 0-2.24 8.25-11.67 5.05 0 0-1.44 4.19-6.42 2.86 0 0 1.23-21.25-13.72-25.26-.05.02 1.72-5.17 9.5-1.17z" class="food-2"/>
        <path d="M52.78 85.09s3.27-9.17 12-5.2c0 0 1.32-5.9 7.48-6.68l1.41-1a16.91 16.91 0 0 0-6.54-1.53C63 70.43 57 75.83 57 75.83l-2 1s-9.45-.36-13.32 8.57l1.63.82s1.52-4.82 9.47-1.13z" class="food-3"/>
        <path d="M57 75.83s8.6 4.8 11.87-12.72c0 0-14.8-.93-12.91 11.67-.05.02-.74-.51 1.04 1.05z" class="food-4"/>
        <path d="M55.92 74.83s-.37-.28.13.19l12.8-11.86S54 62.22 55.92 74.83z" class="food-5"/>
        <path d="M75.05 103.63s5.35 2.17 6.31-3.12l1.38 1s-2.23 9.81-11.44 9.12c0 0-4 7.25-14.91 2.35l.56-1.4a4.62 4.62 0 0 0 6.42-2.86s8.75 3.28 11.68-5.09z" class="food-6"/>
      </g>
      <g id="BANANA" class="food">
        <path d="M115.49 125.93l.8-1.28.9 5.85-3.74 2s2.29-5.92 2.04-6.57z" class="food-7"/>
        <path d="M111.3 121.47s.95-1.41-.19-3.84c0 0 14.38 2 12.92 13.94-.03.01-1.27-7.69-12.73-10.1zM126.21 135l1.93-.83s5.84-7.48 12-5c0 0-.06-3.57-7.56-2.78.01-.04-4.65 6.51-6.37 8.61z" class="food-8"/>
        <path d="M118.25 120.18s.54-3.85-5.14-10.11c0 0-1.71-2.93 2.58-.25 0 0 6.61 4.69 6.25 9.62l-1.64 2.27a3.76 3.76 0 0 0-2.05-1.53zm9.89 14s12-3.87 13 4.22a.44.44 0 0 1-.31.49c-.38.11-1.43-6.72-12.69-4.75z" class="food-8"/>
        <path d="M87.49 149.52s-1.23.09 3-2.43a128.9 128.9 0 0 1 11.86-5.8s11.75-10.15 13.12-15.39c0 0-.36 6.38-5 10s-11.39 10.43-22.98 13.62z" class="food-7"/>
        <path d="M98.79 153.49l3.46 1.44 20.14-13.83-2-1.57s7.06-7.55 3.27-9.19-24.87 23.15-24.87 23.15z" class="food-9"/>
        <path d="M111.3 121.47s19.79 4.08 9.47 17.06c0 0-14.06 17.06-27.94 17.29 0 0-3.6.11-5.55-6 0 0 16.22-5.6 24.71-16.31 0 0 8.63-7.64-.67-11.44.01.05-.24-.07-.02-.6z" class="food-9"/>
        <path d="M120.44 139.53s13.06-14 20.4-.7c0 0-.26.87-2.11-1.32s-6.34-3.78-14.83 4.17-15.36 16.26-31.06 14.13c-.01 0 14.16-.13 27.6-16.28z" class="food-10"/>
        <path d="M120.31 121.7l8.94-12.46s3.16-3.69 6.57-.34c0 0 3.13.95 1 7.85s-10.68 18.17-10.68 18.17l-5.71 4.6s8.37-9.29-.12-17.82z" class="food-11"/>
        <path d="M130.48 131.7s4.17-4.47 9.67-2.56c0 0 .73 2.14-1.87 1.32s-4-.81-7.8 1.24z" class="food-12"/>
        <path d="M117 115.49s1.4 3.23 1.28 4.68l-1.18-.64a9.63 9.63 0 0 0-.1-4.04z" class="food-13"/>
        <path d="M111.89 118.25a7.35 7.35 0 0 1 .15 2.52 5.56 5.56 0 0 1-2.81.23 4.84 4.84 0 0 1-2.49-.93l-.17-1a18.59 18.59 0 0 1 5.32-.82z" class="food-14"/>
        <path d="M111.89 118.25s-.54-3-5.38-.15l.08 1s5.51-.65 5.3-.85z" class="food-15"/>
        <path d="M112.08 120.71s-.33 1.54-.65 1.63-3.73-.42-4.21-1a2.09 2.09 0 0 1-.42-1.32s4.43 1.43 5.28.69z" class="food-16"/>
      </g>
      <g id="CARROT" class="food">
        <path d="M41.87 23.84L46.24 29" class="food-17"/>
        <path d="M60.19 19a13.81 13.81 0 0 1 5.73 13.49S61.24 41 41.5 52 14.43 66.2 14.43 66.2l-10.3 4.37s-7.34 3.32-2.45-3.84 34.58-46.28 52-50.3A10.64 10.64 0 0 1 60.19 19z" class="food-18"/>
        <path d="M60.08 19L72.13 0l1.4 1.92-6.72 10L77.19 1.75l2.1 3-11.37 13.07L86.45 3.49l1.75 2.1-14.06 10.83 9-2.62 2.78 3.49-21.08 7.48S60.6 23.05 60.08 19z" class="food-19"/>
        <path d="M56.93 29l4.37 5.16M47.94 29l4.36 5.16m-28.37 8.53l4.36 5.15m24.89-30.93l4.36 5.15m-22.29 9.51l4.37 5.15m6.13-.67l4.37 5.16m-17.05 1.48l4.37 5.15M26.11 53l4.37 5.15m-16.86-4.08L18 59.22m-8 2l4.37 5.15M3.7 65.94l2.18 2.58" class="food-17"/>
        <path d="M18 49.6s19.55-25.48 32.64-30.91c0 0-4.72 7.86-32.64 30.91z" class="food-20"/>
      </g>
      <g id="POTATO2" class="food">
        <path d="M99.1 46.92S120.84 31.68 130 50c0 0 1.37 4.5.75 7.25s-.25 4-4.12 6.75c0 0-.37.75-5.87.75s-17.37-1.12-17.37-1.12-14.28-2.21-4.29-16.71z" class="food-21"/>
        <path d="M116.1 44.42s7.5 4 8.25 5.12 4.75.12 3.25-1.75-3.23-5.27-9.5-5.87c0 .01-2.88.5-2 2.5z" class="food-22"/>
        <path d="M108.69 51.48s1.44.56 0 1.69m-9.12-6s1.44.56 0 1.69m2.52 10.9s1.44.56 0 1.69m10.8-19.49s1.44.56 0 1.69m6.35 9s1.44.56 0 1.69m-4.55 7.92s1.44.56 0 1.69M127 58s1.44.56 0 1.69" class="food-23"/>
      </g>
      <g id="POTATO1" class="food">
        <path d="M8.41 134.69s28.8-20.19 40.88 4.14c0 0 1.82 6 1 9.6s-.33 5.3-5.46 8.94c0 0-.5 1-7.78 1s-23-1.49-23-1.49-18.88-2.99-5.64-22.19z" class="food-21"/>
        <path d="M30.92 131.35s9.93 5.3 10.92 6.79 6.29.17 4.3-2.32-4.28-7-12.58-7.78c.01.03-3.8.69-2.64 3.31z" class="food-22"/>
        <path d="M21.16 140.73s1.9.74 0 2.23M9 135s1.9.74 0 2.23m3.36 14.45s1.9.74 0 2.23m14.31-25.81s1.9.74 0 2.23m8.41 11.95s1.9.74 0 2.23m-6 10.47s1.9.74 0 2.23m16.25-7.76s1.9.74 0 2.23" class="food-23"/>
      </g>
  </svg>
  </section>
  <section class="text">
    <h2 class="infoText">Met een Biogas verbruik van <span class="amount"><%= Math.floor(gas.used) %></span><span class="highlight">m&sup3;</span> hebben wij al veel maaltijden bereid!</h2>
    <span class="buttons">
      <a class="navigate inline" href="#page_3" data-link-to="page_3">< Terug</a>
      <a class="navigate inline options" href="#intro" data-link-to="intro">Menu</a>
      <a class="navigate inline" href="#page_5" data-link-to="page_5">Verder ></a>
    </span>
  </section>
</article>
