<article class="flex" id="page_4">
  <section class="animated">
  </section>
  <section class="text">
    <h2 class="infoText">Met een Biogas verbruik van <span class="m3gu"></span>m&sup3; hebben wij al veel maaltijden bereid!</h2>
    <span class="buttons visible">
      <a class="navigate inline" data-link-to="page_3">< Terug</a>
      <a class="navigate inline options" data-link-to="intro">Opties</a>
      <a class="navigate inline" data-link-to="page_5">Verder ></a>
    </span>
  </section>
</article>
