<article class="flex" id="page_4">
  <section>
  </section>
  <section>
    <h2 class="infoText">Met een Biogas verbruik van <span class="m3gu"></span>m&sup3; hebben wij al veel maaltijden bereid!</h2>
    <a class="next visible" href="#" onclick="animation.init('interactive');">Ga verder</a>
  </section>
</article>
