<article class="intro" id="intro">
  <section>
    <h1 class="introText">Van Etensresten naar Biogas</h1>
    <a class="intro navigate" href="#" aria-label="Start de tour" data-link-to="page_1">Start de tour!</a>
    <a class="intro navigate" href="#" aria-label="Check jouw bijdrage" data-link-to="page_1">Check jouw bijdrage</a>
    <a class="intro navigate" href="#" aria-label="Bekijk de boot" data-link-to="interactive">Bekijk de boot</a>
  </section>
</article>
