<article class="intro" id="intro">
  <section aria-label="Doe de tour: Van Etensresten naar Biogas">
    <h1 class="infoText">Van Etensresten naar Biogas</h1>
    <a class="intro next" href="#" aria-label="Start de tour" onclick="animation.init('page_1');">Start de tour!</a>
  </section>
</article>
