<article class="intro" id="intro">
  <section>
    <h1 class="introText">Van Etensresten naar Biogas</h1>
    <a class="intro navigate" href="#page_1" aria-label="Start de tour" data-link-to="page_1">Start de tour!</a>
    <a class="intro navigate" href="/check" aria-label="Check jouw bijdrage">Check jouw bijdrage</a>
    <!-- <a class="intro navigate" href="#interactive" aria-label="Bekijk de boot" data-link-to="interactive">Bekijk de boot</a> -->
  </section>
</article>
