<article class="intro" id="intro">
  <section>
    <h2 class="infoText">Van Etensresten naar Biogas</h2>
    <a class="intro next" href="#" onclick="animation.init('page_1');">Start de tour!</a>
  </section>
</article>
