<article class="intro" id="intro">
  <section>
    <p class="infoText">Van Etensresten naar Biogas</p>
    <a class="intro next" href="#" onclick="animation.init('page_1');">Start de tour!</a>
  </section>
</article>
