<article class="flex" id="page_1">
  <section>
    <h2 class="infoText">De Biogasboot zet organisch afval om in Biogas</h2>
    <a class="next" onclick="animation.init('page_2');">Ga verder</a>
  </section>
  <section>

  </section>
</article>
