<article id="page_3">
  <section>

  </section>
  <section>
    <p id="introtext" class="bigtext">In totaal is er 20 kilo organisch afval in het voorvergister vat gegooid</p>
    <a class="next" href="#" onclick="smoothScroll.init('page_4');">Ga verder</a>
  </section>
</article>
