<article class="flex" id="page_1">
  <section>
    <h2 class="infoText">De Biogasboot zet organisch afval om in Biogas</h2>
    <a class="next" data-link-to="page_2">Ga verder</a>
  </section>
  <section>
    <svg class="recycle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360.77 322.06">
      <defs>
        <style>
          .recycle1{fill:#ffffff;}.recycle10,.recycle2{fill:#cac8c6;}.recycle2{opacity:0.5;}.recycle3{fill:#363b3d;}.recycle4{fill:#8a8a8b;}.recycle5{fill:#191a1c;}.recycle6{fill:#fff;}.recycle7{fill:#2b2c2e;}.recycle8{fill:#6d7279;}.recycle9{fill:#3e4245;}.recycle11{fill:#b3b7ba;}.recycle12{fill:#a4a3a4;}.recycle13{fill:#3f5595;}.recycle14{fill:#fafcfe;}.recycle15{fill:#d2c8be;}.recycle16{fill:#2287c9;}.recycle17{fill:#efd154;}
        </style>
      </defs>
      <g id="Recycle">
        <path id="Arrow1" d="M63.21 75.16l17.62 25.5s-41.58 12-29.6 59l19.21-2.16-24.9 53.11L0 169.44l19.8-2.89S2.69 100.77 63.21 75.16z" class="recycle1"/>
        <path id="Arrow2" d="M154.76 303.66l14.9-27.18s29.41 31.77 66 0l-10.54-16.21 58.63-1.55-16.39 59.17-11.46-16.39s-51.13 44.78-101.14 2.16z" class="recycle1"/>
        <path id="Arrow3" d="M324.2 137.48l-30.39 6.11s5.36-43-42.51-50.51l-5.61 18.5-39-43.86 55.82-25.57-5.11 19.35s67.19 10.27 66.8 75.98z" class="recycle1"/>
        <g id="Wastebin">
          <path d="M129.92 72.12l-4.1-6.08 1.68-2.94-2.08-1.61 6.23-.58 3.35 4.97-1.66-.68-3.42 6.92z" class="recycle2"/>
          <path d="M172.55 22.24v-2.68h-8.83S163.38 7 151.55 5.09h-22.33s-9.33-.83-12.83 14.47h-8.5v3z" class="recycle3"/>
          <path d="M104.88 30h70.33v91.14a5 5 0 0 1-5 5h-60.33a5 5 0 0 1-5-5V30z" class="recycle4"/>
          <path d="M119.72 19.98h40.67v2.62h-40.67z" class="recycle5"/>
          <path d="M140.22 45.5s19.78-1.83 20.16 19.33c0 0-.33 18.33-20.17 17.5 0 0-17.67 2.82-20.5-18.42.01 0 .29-18.74 20.51-18.41z" class="recycle6"/>
          <path d="M119.72 20s.17-8.48 11.33-9.64h19.5s8.67.79 9.83 9.64z" class="recycle7"/>
          <rect width="76.67" height="9.67" x="101.54" y="22.29" class="recycle8" rx="3" ry="3"/>
          <path d="M107.88 20h8.5s1.5-11.31 12.83-12.48h22.33S162 8 163.72 20h8.83s2.17-16.5-17.17-20h-28.66s-19.17-.21-18.84 20z" class="recycle9"/>
          <path d="M130.88 57.33l5.33 3.17 3.66-5.83s-1.83-4.5-5.66-2.83z" class="recycle10"/>
          <path d="M138.88 51.46h7.34l1.5 3.04 2.5-.83-3 5.5h-6l1.5-1-3.84-6.71z" class="recycle2"/>
          <path d="M150.72 59.17l-5.38 3.09 3.29 6.05s4.82.62 5.25-3.54z" class="recycle10"/>
          <path d="M151.9 69.02l-3.6 6.39-3.38-.19-.5 2.59-3.32-5.31 2.95-5.23.13 1.8 7.72-.05zm-22.33 3.04l-3.72-6.31 1.86-2.84-1.99-1.73 6.26-.21 3.05 5.17-1.63-.78-3.83 6.7z" class="recycle2"/>
          <path d="M139.26 75.48l-.35-6.19-6.88.22s-2.71 4 .81 6.28z" class="recycle10"/>
        </g>
        <g id="Boat">
          <path d="M28.24 235.55h9.59v10.84h-9.59z" class="recycle11"/>
          <path d="M28.24 233.91h9.59v1.64h-9.59zm-9.59 0h9.59v1.64h-9.59z" class="recycle12"/>
          <path d="M18.65 235.55h9.59v10.84h-9.59z" class="recycle11"/>
          <path d="M18.65 233.91h9.59v1.64h-9.59z" class="recycle12"/>
          <path d="M57.63 235.55h9.59v10.84h-9.59zm-47.58 13.81h87.94v4.22H10.05zm-5.98 29.32h134.45v3.49H4.07z" class="recycle11"/>
          <path d="M57.63 233.91h9.59v1.64h-9.59z" class="recycle12"/>
          <path d="M48.04 235.55h9.59v10.84h-9.59z" class="recycle11"/>
          <path d="M48.04 233.91h9.59v1.64h-9.59z" class="recycle12"/>
          <path d="M48.04 230.24h19.18v3.67H48.04zm-29.39 0h19.18v3.67H18.65zM4.47 273.08h134.05v5.6H4.47zm5.58-27.39h87.94v3.67H10.05z" class="recycle13"/>
          <path d="M10.05 253.58h87.94v19.5H10.05zm-5.98 28.59h119.44v19.5H4.07z" class="recycle14"/>
          <path d="M138.52 282.17s4.38 9-12.09 25.1h-118a7.33 7.33 0 0 1-4.36-5.6c-.85-4.4 119.44-19.5 119.44-19.5z" class="recycle14"/>
          <circle cx="24.42" cy="262.18" r="6.84" class="recycle15"/>
          <circle cx="24.42" cy="262.09" r="4.89" class="recycle16"/>
          <circle cx="51.79" cy="262.18" r="6.84" class="recycle15"/>
          <circle cx="51.79" cy="262.09" r="4.89" class="recycle16"/>
          <circle cx="79.15" cy="262.18" r="6.84" class="recycle15"/>
          <circle cx="79.15" cy="262.09" r="4.89" class="recycle16"/>
          <rect width="29.08" height="5.16" x="104.75" y="285.67" class="recycle15" rx="2.5" ry="2.5"/>
          <rect width="26.27" height="3.13" x="106" y="286.68" class="recycle16" rx="1.56" ry="1.56"/>
        </g>
        <path id="Gas" d="M348.86 212.81c-7.74-21.46.73-27.89.73-27.89C343 186.82 336 203 336 203c-1.61-4.56 1.17-9.89 1.17-9.89-1.75.44-4.67 4.38-4.67 4.38a24.37 24.37 0 0 1 .29-9.49 30.7 30.7 0 0 0 .29-10.51c-3.5-11.68-15.33-22-15.33-22 3.65 16.35.44 24.09.44 24.09s.58 1.9-6.42 10.66-7.3 21.9-7.3 21.9c-5.69-3.36-5.55-15.92-5.55-15.92-1.9 3.07-5.4 22.63-5.4 22.63.15 15.62 6.57 22.34 6.57 22.34s9.78 10.37 21.9 9.34 16.35-4.82 16.35-4.82 18.25-11.44 10.52-32.9zm-20.74 23.46s-1.56 1.4-6 1.78-8.12-3.45-8.12-3.45-2.37-2.48-2.42-8.24c0 0 1.29-7.22 2-8.35 0 0-.05 4.63 2 5.87 0 0 .11-4.85 2.69-8.08s2.37-3.93 2.37-3.93 1.18-2.85-.16-8.89c0 0 4.36 3.82 5.65 8.13a11.32 11.32 0 0 1-.11 3.88 9 9 0 0 0-.11 3.5s1.08-1.45 1.72-1.62a5.29 5.29 0 0 0-.43 3.65s2.58-6 5-6.66c0 0-3.12 2.37-.27 10.29a10.16 10.16 0 0 1-3.81 12.12z" class="recycle17"/>
      </g>
    </svg>
  </section>
</article>
