<article class="flex" id="page_6">
  <section>
  </section>
  <section>
    <h2 class="infoText">Normaal zijn <span class="trees"></span> bomen per jaar nodig om die CO2 te compenseren</h2>
    <a class="next visible" href="#" data-link-to="page_7">Ga verder</a>
  </section>
</article>
