<article class="flex" id="page_6">
  <section class="animated">
  </section>
  <section class="text">
    <h2 class="infoText">Normaal zijn <span class="trees"></span> bomen per jaar nodig om die CO2 te compenseren</h2>
    <span class="buttons">
      <a class="navigate inline" data-link-to="page_5">< Terug</a>
      <a class="navigate inline" data-link-to="intro">Opties</a>
      <a class="navigate inline" data-link-to="page_7">Verder ></a>
    </span>
  </section>
</article>
